@page
@model Project_Cecilious.Pages.Views.Restaurants.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].RestaurantAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant[0].RestaurantCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress.RestaurantAddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantCategory.RestaurantCategoryId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RestaurantId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RestaurantId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
